<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack</title>
    <link rel="shortcut icon" href="<%= require('./assets/images/favicon-16x16.png') %>" type="image/png">
</head>
<body>


    <h1>ddddddd</h1>
    <p>Lorem, ipsum dolor.</p>
    <%= require('./views/header.html') %>
    <%= require('./views/footer.html') %>
    <img src="<%= require('./assets/images/1200px-Unofficial_JavaScript_logo_2.svg.png') %>" alt=""> 
    <div class="wrap"></div>


</body>
</html>   